[submodule "PSE/PSE_Project"]
	path = PSE/PSE_Project
	url = https://github.com/Duxlol/PSE_Project.git
[submodule "GAS2/to-groep-05_salim_thijs_stan_daniil"]
	path = GAS2/to-groep-05_salim_thijs_stan_daniil
	url = https://github.com/UAntwerpen/to-groep-05_salim_thijs_stan_daniil.git
